<p>dashboard works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item"><p>Parthesh</p></li>
                <li class="nav-item"><a routerLink="/home">Home</a></li>
                <li class="nav-item"><a routerLink="/resume">Resume</a></li>
                <li class="nav-item"><a routerLink="/about">About</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>


